---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=8P4WrYzfICCZ0LvyIxTBshrW1nIsHH44&lang=en&q=grey%20day
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '39.645555555556'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '995'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"l4Eph9EiHpNMii82k","slug":"animation-health-mask-l4Eph9EiHpNMii82k","url":"https:\/\/giphy.com\/gifs\/animation-health-mask-l4Eph9EiHpNMii82k","bitly_gif_url":"https:\/\/gph.is\/2zJ12q4","bitly_url":"https:\/\/gph.is\/2zJ12q4","embed_url":"https:\/\/giphy.com\/embed\/l4Eph9EiHpNMii82k","username":"Barbara_Pozzi","source":"","rating":"g","content_url":"","source_tld":"","source_post_url":"","is_sticker":0,"import_datetime":"2017-12-29
        02:47:10","trending_datetime":"0000-00-00 00:00:00","user":{"avatar_url":"https:\/\/media3.giphy.com\/avatars\/Barbara_Pozzi\/uOWBlZEEOS5z.PNG","banner_url":"https:\/\/media3.giphy.com\/headers\/Barbara_Pozzi\/FS9iAlr44GsS.PNG","banner_image":"https:\/\/media3.giphy.com\/headers\/Barbara_Pozzi\/FS9iAlr44GsS.PNG","profile_url":"https:\/\/giphy.com\/Barbara_Pozzi\/","username":"Barbara_Pozzi","display_name":"Barbara
        Pozzi","is_verified":true},"images":{"fixed_height_still":{"url":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/200_s.gif","width":"266","height":"200","size":"24861"},"original_still":{"url":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/giphy_s.gif","width":"480","height":"360","size":"53586"},"fixed_width":{"url":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/200w.gif","width":"200","height":"150","size":"364528","mp4":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/200w.mp4","mp4_size":"38822","webp":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/200w.webp","webp_size":"204208"},"fixed_height_small_still":{"url":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/100_s.gif","width":"133","height":"100","size":"7917"},"fixed_height_downsampled":{"url":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/200_d.gif","width":"266","height":"200","size":"137602","webp":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/200_d.webp","webp_size":"32910"},"preview":{"width":"480","height":"360","mp4":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/giphy-preview.mp4","mp4_size":"19173"},"fixed_height_small":{"url":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/100.gif","width":"133","height":"100","size":"173315","mp4":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/100.mp4","mp4_size":"25848","webp":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/100.webp","webp_size":"84476"},"downsized_still":{"url":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/giphy-downsized_s.gif","width":"480","height":"360","size":"53586"},"downsized":{"url":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/giphy-downsized.gif","width":"480","height":"360","size":"1002154"},"downsized_large":{"url":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/giphy.gif","width":"480","height":"360","size":"1002154"},"fixed_width_small_still":{"url":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/100w_s.gif","width":"100","height":"75","size":"5624"},"preview_webp":{"url":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/giphy-preview.webp","width":"480","height":"360","size":"31590"},"fixed_width_still":{"url":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/200w_s.gif","width":"200","height":"150","size":"16835"},"fixed_width_small":{"url":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/100w.gif","width":"100","height":"75","size":"115694","mp4":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/100w.mp4","mp4_size":"18785","webp":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/100w.webp","webp_size":"64432"},"downsized_small":{"width":"480","height":"360","mp4":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/giphy-downsized-small.mp4","mp4_size":"122586"},"fixed_width_downsampled":{"url":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/200w_d.gif","width":"200","height":"150","size":"89418","webp":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/200w_d.webp","webp_size":"22732"},"downsized_medium":{"url":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/giphy.gif","width":"480","height":"360","size":"1002154"},"original":{"url":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/giphy.gif","width":"480","height":"360","size":"1002154","frames":"152","mp4":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/giphy.mp4","mp4_size":"122586","webp":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/giphy.webp","webp_size":"579588","hash":"5066b33ead612247dc7d7bad8e6634b3"},"fixed_height":{"url":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/200.gif","width":"266","height":"200","size":"535639","mp4":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/200.mp4","mp4_size":"60030","webp":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/200.webp","webp_size":"301280"},"looping":{"mp4":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/giphy-loop.mp4","mp4_size":"182401"},"original_mp4":{"width":"480","height":"360","mp4":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/giphy.mp4","mp4_size":"122586"},"preview_gif":{"url":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/giphy-preview.gif","width":"311","height":"233","size":"48884"},"480w_still":{"url":"https:\/\/media1.giphy.com\/media\/l4Eph9EiHpNMii82k\/480w_s.jpg","width":"480","height":"360"}},"title":"tired
        global warming GIF by Barbara Pozzi","_score":500017.75,"analytics":{"onload":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c741a4d4539574373209508&event_type=GIF_SEARCH&gif_id=l4Eph9EiHpNMii82k&action_type=SEEN"},"onclick":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c741a4d4539574373209508&event_type=GIF_SEARCH&gif_id=l4Eph9EiHpNMii82k&action_type=CLICK"},"onsent":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c741a4d4539574373209508&event_type=GIF_SEARCH&gif_id=l4Eph9EiHpNMii82k&action_type=SENT"}}},{"type":"gif","id":"QmD2EvoMKiU3CtjL9v","slug":"newbalance-sneaker-new-balance-QmD2EvoMKiU3CtjL9v","url":"https:\/\/giphy.com\/gifs\/newbalance-sneaker-new-balance-QmD2EvoMKiU3CtjL9v","bitly_gif_url":"https:\/\/gph.is\/2pTia9L","bitly_url":"https:\/\/gph.is\/2pTia9L","embed_url":"https:\/\/giphy.com\/embed\/QmD2EvoMKiU3CtjL9v","use[...]
[...]
