---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%20Denver,co&key=AIzaSyAdI09sFWwTC-y2eXb8uRyMM9Ahpd0rzqw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 12 Mar 2019 20:41:22 GMT
[...]
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=8P4WrYzfICCZ0LvyIxTBshrW1nIsHH44&lang=en&q=Light%20rain%20overnight.
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '999'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"3o84sp55Ec6uOTJMwU","slug":"filmeditor-lights-musical-3o84sp55Ec6uOTJMwU","url":"https:\/\/giphy.com\/gifs\/filmeditor-lights-musical-3o84sp55Ec6uOTJMwU","bitly_gif_url":"https:\/\/gph.is\/2oVe8zw","bitly_url":"https:\/\/gph.is\/2oVe8zw","embed_url":"https:\/\/giphy.com\/embed\/3o84sp55Ec6uOTJMwU","username":"","source":"","rating":"g","content_url":"","source_tld":"","source_post_url":"","is_sticker":0,"import_datetime":"2017-04-11
        20:30:10","trending_datetime":"0000-00-00 00:00:00","images":{"fixed_height_still":{"url":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/200_s.gif","width":"266","height":"200","size":"22278"},"original_still":{"url":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/giphy_s.gif","width":"480","height":"360","size":"56496"},"fixed_width":{"url":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/200w.gif","width":"200","height":"150","size":"415748","mp4":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/200w.mp4","mp4_size":"45012","webp":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/200w.webp","webp_size":"221870"},"fixed_height_small_still":{"url":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/100_s.gif","width":"133","height":"100","size":"7520"},"fixed_height_downsampled":{"url":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/200_d.gif","width":"266","height":"200","size":"153056","webp":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/200_d.webp","webp_size":"42768"},"preview":{"width":"384","height":"288","mp4":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/giphy-preview.mp4","mp4_size":"20966"},"fixed_height_small":{"url":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/100.gif","width":"133","height":"100","size":"189437","mp4":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/100.mp4","mp4_size":"25306","webp":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/100.webp","webp_size":"131126"},"downsized_still":{"url":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/giphy-downsized_s.gif","width":"480","height":"360","size":"56496"},"downsized":{"url":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/giphy-downsized.gif","width":"480","height":"360","size":"1925949"},"downsized_large":{"url":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/giphy.gif","width":"480","height":"360","size":"1925949"},"fixed_width_small_still":{"url":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/100w_s.gif","width":"100","height":"75","size":"5024"},"preview_webp":{"url":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/giphy-preview.webp","width":"240","height":"180","size":"49788"},"fixed_width_still":{"url":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/200w_s.gif","width":"200","height":"150","size":"14044"},"fixed_width_small":{"url":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/100w.gif","width":"100","height":"75","size":"113300","mp4":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/100w.mp4","mp4_size":"17103","webp":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/100w.webp","webp_size":"88330"},"downsized_small":{"width":"480","height":"360","mp4":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/giphy-downsized-small.mp4","mp4_size":"186184"},"fixed_width_downsampled":{"url":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/200w_d.gif","width":"200","height":"150","size":"93015","webp":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/200w_d.webp","webp_size":"29116"},"downsized_medium":{"url":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/giphy.gif","width":"480","height":"360","size":"1925949"},"original":{"url":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/giphy.gif","width":"480","height":"360","size":"1925949","frames":"45","mp4":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/giphy.mp4","mp4_size":"186184","webp":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/giphy.webp","webp_size":"671324","hash":"c4c99322c14d8b28f8d82e7cf959054d"},"fixed_height":{"url":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/200.gif","width":"266","height":"200","size":"699883","mp4":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/200.mp4","mp4_size":"70386","webp":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/200.webp","webp_size":"324686"},"looping":{"mp4":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/giphy-loop.mp4","mp4_size":"917734"},"original_mp4":{"width":"480","height":"360","mp4":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/giphy.mp4","mp4_size":"186184"},"preview_gif":{"url":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/giphy-preview.gif","width":"173","height":"130","size":"49679"},"480w_still":{"url":"https:\/\/media3.giphy.com\/media\/3o84sp55Ec6uOTJMwU\/480w_s.jpg","width":"480","height":"360"}},"title":"debbie
        reynolds lights GIF","_score":442.50647,"analytics":{"onload":{"url":"https:\/\/giphy-analytics.giphy.com\/simple_analytics?response_id=5c881967726776494deade96&event_type=GIF_SEARCH&gif_id=3o84sp55Ec6uOTJMwU&action_type=SEEN"},"onclick":{"url":"https:\/\/giphy-analytics.giphy.com\/simple_analytics?response_id=5c881967726776494deade96&event_type=GIF_SEARCH&gif_id=3o84sp55Ec6uOTJMwU&action_type=CLICK"},"onsent":{"url":"https:\/\/giphy-analytics.giphy.com\/simple_analytics?response_id=5c881967726776494deade96&event_type=GIF_SEARCH&gif_id=3o84sp55Ec6uOTJMwU&action_type=SENT"}}},{"type":"gif","id":"p3GuCbHpqZ6tYbk6Ek","slug":"p3GuCbHpqZ6tYbk6Ek","url":"https:\/\/giphy.com\/gifs\/p3GuCbHpqZ6tYbk6Ek","bitly_gif_url":"https:\/\/gph.is\/2pKbxa2","bitly_url":"https:\/\/gph.is\/2pKbxa2","embed_url":"https:\/\/giphy.com\/embed\/p3GuCbHpqZ6tYbk6Ek","username":"guarnaboy","source":"","rating":"g","content_url":"","source_tld":"","source_post_url":"","is_sticker":0,"import_datetime":"2018-10-08
        21:12:34","trending_datetime":"0000-00-00 00:00:00","user":{"avatar_url":"https:\/\/media4.giphy.com\/avatars\/guarnaboy\/3N6SOpTTrCZI.jpg","banner_url":"","profile_url":"https:\/\/giphy.com\/guarnaboy\/","username":"guarnaboy","display_name":"Guarnaboy","is_verified":true},"images":{"fixed_height_still":{"url":"https:\/\/media3.giphy.com\/media\/p3GuCbHpqZ6tYbk6Ek\/200_s.gif","width":"356","height":"200","size":"47783"},"original_still":{"url":"https:\/\/media3.giphy.com\/media\/p3GuCbHpqZ6tYbk6Ek\/giphy_s.gif","width":"480","height":"270","size":"76372"},"fixed_width":{"url":"https:\/\/media3.giphy.com\/media\/p3GuCbHpqZ6tYbk6Ek\/200w.gif","width":"200","height":"112","size":"1542185","mp4":"https:\/\/media3.giphy.com\/media\/p3GuCbHpqZ6tYbk6Ek\/200w.mp4","[...]
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=8P4WrYzfICCZ0LvyIxTBshrW1nIsHH44&lang=en&q=Mixed%20precipitation%20(2%E2%80%935%20in.%20of%20snow)%20until%20evening%20and%20windy%20throughout%20the%20day.
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
    [...]
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=8P4WrYzfICCZ0LvyIxTBshrW1nIsHH44&lang=en&q=Mostly%20cloudy%20throughout%20the%20day%20and%20breezy%20until%20afternoon.
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:[...]
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=8P4WrYzfICCZ0LvyIxTBshrW1nIsHH44&lang=en&q=Partly%20cloudy%20in%20the%20morning.
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '999'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"3oz8xsTTDHL2D8Hluw","slug":"3oz8xsTTDHL2D8Hluw","url":"https:\/\/giphy.com\/gifs\/3oz8xsTTDHL2D8Hluw","bitly_gif_url":"https:\/\/gph.is\/2gLQdNJ","bitly_url":"https:\/\/gph.is\/2gLQdNJ","embed_url":"https:\/\/giphy.com\/embed\/3oz8xsTTDHL2D8Hluw","username":"thx4bnu","source":"","rating":"g","content_url":"","source_tld":"","source_post_url":"","is_sticker":0,"import_datetime":"2016-12-14
        19:04:07","trending_datetime":"0000-00-00 00:00:00","user":{"avatar_url":"https:\/\/media2.giphy.com\/avatars\/thx4bnu\/jFTaEa0sCvyE.gif","banner_url":"https:\/\/media2.giphy.com\/headers\/thx4bnu\/5HWgRC9A18Ox.jpeg","banner_image":"https:\/\/media2.giphy.com\/headers\/thx4bnu\/5HWgRC9A18Ox.jpeg","profile_url":"https:\/\/giphy.com\/thx4bnu\/","username":"thx4bnu","display_name":"Bryan
        Unger","is_verified":true},"images":{"fixed_height_still":{"url":"https:\/\/media3.giphy.com\/media\/3oz8xsTTDHL2D8Hluw\/200_s.gif","width":"356","height":"200","size":"33034"},"original_still":{"url":"https:\/\/media3.giphy.com\/media\/3oz8xsTTDHL2D8Hluw\/giphy_s.gif","width":"480","height":"270","size":"54817"},"fixed_width":{"url":[...]
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=8P4WrYzfICCZ0LvyIxTBshrW1nIsHH44&lang=en&q=Clear%20throughout%20the%20day.
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-D[...]
