---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%20Denver,co&key=AIzaSyAdI09sFWwTC-y2eXb8uRyMM9Ahpd0rzqw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 27 Feb 2019 18:49:43 GMT
[...]
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=8P4WrYzfICCZ0LvyIxTBshrW1nIsHH44&lang=en&q=Foggy%20in%20the%20morning.
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '998.38756944444'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"SWYSIUQOD5XW","slug":"quote-sky-morning-SWYSIUQOD5XW","url":"https:\/\/giphy.com\/gifs\/quote-sky-morning-SWYSIUQOD5XW","bitly_gif_url":"https:\/\/gph.is\/1cJkx2W","bitly_url":"https:\/\/gph.is\/1cJkx2W","embed_url":"https:\/\/giphy.com\/embed\/SWYSIUQOD5XW","username":"","source":"https:\/\/gaj0romar1ogifs.tumblr.com\/post\/55956714609\/i-can-bench-press-steam-but-not-fog-i-just-have","rating":"g","content_url":"","source_tld":"gaj0romar1ogifs.tumblr.com","source_post_url":"https:\/\/gaj0romar1ogifs.tumblr.com\/post\/55956714609\/i-can-bench-press-steam-but-not-fog-i-just-have","is_sticker":0,"import_datetime":"2014-01-02
        02:12:15","trending_datetime":"1970-01-01 00:00:00","images":{"fixed_height_still":{"url":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/200_s.gif","width":"371","height":"200"},"original_still":{"url":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/giphy_s.gif","width":"430","height":"232"},"fixed_width":{"url":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/200w.gif","width":"200","height":"108","size":"228127","mp4":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/200w.mp4","mp4_size":"15967","webp":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/200w.webp","webp_size":"98410"},"fixed_height_small_still":{"url":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/100_s.gif","width":"185","height":"100"},"fixed_height_downsampled":{"url":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/200_d.gif","width":"371","height":"200","size":"218259","webp":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/200_d.webp","webp_size":"73988"},"preview":{"width":"344","height":"184","mp4":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/giphy-preview.mp4","mp4_size":"34033"},"fixed_height_small":{"url":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/100.gif","width":"185","height":"100","size":"204377","mp4":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/100.mp4","mp4_size":"13635","webp":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/100.webp","webp_size":"90302"},"downsized_still":{"url":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/giphy_s.gif","width":"430","height":"232"},"downsized":{"url":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/giphy.gif","width":"430","height":"232","size":"996487"},"downsized_large":{"url":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/giphy.gif","width":"430","height":"232","size":"996487"},"fixed_width_small_still":{"url":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/100w_s.gif","width":"100","height":"54"},"preview_webp":{"url":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/giphy-preview.webp","width":"230","height":"124","size":"49890"},"fixed_width_still":{"url":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/200w_s.gif","width":"200","height":"108"},"fixed_width_small":{"url":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/100w.gif","width":"100","height":"54","size":"67925","mp4":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/100w.mp4","mp4_size":"5870","webp":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/100w.webp","webp_size":"36224"},"downsized_small":{"width":"430","height":"232","mp4":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/giphy-downsized-small.mp4","mp4_size":"87464"},"fixed_width_downsampled":{"url":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/200w_d.gif","width":"200","height":"108","size":"65575","webp":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/200w_d.webp","webp_size":"25340"},"downsized_medium":{"url":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/giphy.gif","width":"430","height":"232","size":"996487"},"original":{"url":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/giphy.gif","width":"430","height":"232","size":"996487","frames":"24","mp4":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/giphy.mp4","mp4_size":"69918","webp":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/giphy.webp","webp_size":"416178"},"fixed_height":{"url":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/200.gif","width":"371","height":"200","size":"751682","mp4":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/200.mp4","mp4_size":"40070","webp":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/200.webp","webp_size":"291736"},"looping":{"mp4":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/giphy-loop.mp4","mp4_size":"500026"},"original_mp4":{"width":"480","height":"258","mp4":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/giphy.mp4","mp4_size":"69918"},"preview_gif":{"url":"https:\/\/media3.giphy.com\/media\/SWYSIUQOD5XW\/giphy-preview.gif","width":"150","height":"81","size":"48332"},"480w_still":{"url":"https:\/\/media2.giphy.com\/media\/SWYSIUQOD5XW\/480w_s.jpg","width":"480","height":"259"}},"title":"sky
        morning GIF","_score":1017.48047,"analytics":{"onload":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c76bd274e344b7059468ead&event_type=GIF_SEARCH&gif_id=SWYSIUQOD5XW&action_type=SEEN"},"onclick":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c76bd274e344b7059468ead&event_type=GIF_SEARCH&gif_id=SWYSIUQOD5XW&action_type=CLICK"},"onsent":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c76bd274e344b7059468ead&event_type=GIF_SEARCH&gif_id=SWYSIUQOD5XW&action_type=SENT"}}},{"type":"gif","id":"3oKIP57gpkAvpUw2sg","slug":"twinpeaksonshowtime-twin-peaks-showtime-3oKIP57gpkAvpUw2sg","url":"https:\/\/giphy.com\/gifs\/twinpeaksonshowtime-twin-peaks-showtime-3oKIP57gpkAvpUw2sg","bitly_gif_url":"","bitly_url":"","embed_url":"https:\/\/giphy.com\/embed\/3oKIP57gpkAvpUw2sg","username":"twinpeaksonshowtime","source":"https:\/\/www.sho.com\/twin-peaks?s_cid=sm-twinpeaks-6408#\/stream\/series\/1033477","rating":"g","content_url":"","source_tld":"www.sho.com","source_post_url":"https:\/\/www.sho.com\/twin-peaks?s_cid=sm-twinpeaks-6408#\/stream\/series\/1033477","is_sticker":0,"import_datetime":"2017-06-21
        21:04:32","trending_datetime":"0000-00-00 00:00:00","user":{"avatar_url":"https:\/\/media2.giphy.com\/channel_assets\/twinpeaksonshowtime\/WsI0iW0J9ryo.jpg","banner_url":"https:\/\/media2.giphy.com\/channel_assets\/twinpeaksonshowtime\/ZbEg8Fi2drq8.jpg","banner_image":"https:\/\/media2.giphy.com\/channel_assets\/twinpeaksonshowtime\/ZbEg8Fi2drq8.jpg","profile_url":"https:\/\/giphy.com\/twinpeaksonshowtime\/","username":"twinpeaksonshowtime","display_name":"Twin
        Peaks on Showtime","is_verified":true},"images":{"fixed_height_still":{"url":"https:\/\/media1.giphy.com\/media\/3oKIP57gpkAvpUw2sg\/200_s.gif","width":"357","height":"200","size":"45297"},"original_still":{"url":"https:\/\/media1.giphy.com\/media\/3oKIP57gpkAvpUw2sg\/giphy_s.gif","width":"480","height":"269","size":"82846"},"fixed_width":{"url":"https:\/\/media1.giphy.com\/media\/3oKIP57gpkAvpUw2sg\/200w.gif","width":"200","height":"112","size":"533555","mp4":"https:\/\/media1.giphy.com\/media\/3oKIP57gpkAvpUw2sg\/200w.mp4","m[...]
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=8P4WrYzfICCZ0LvyIxTBshrW1nIsHH44&lang=en&q=Mostly%20cloudy%20throughout%20the%20day.
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-R[...]
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=8P4WrYzfICCZ0LvyIxTBshrW1nIsHH44&lang=en&q=Partly%20cloudy%20throughout%20the%20day.
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-R[...]
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=8P4WrYzfICCZ0LvyIxTBshrW1nIsHH44&lang=en&q=Snow%20(3%E2%80%936%20in.)%20starting%20in%20the%20afternoon.
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'[...]
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=8P4WrYzfICCZ0LvyIxTBshrW1nIsHH44&lang=en&q=Snow%20(%3C%201%20in.)%20in%20the%20morning.
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimi[...]
[...]
