---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=686b75dd30eb67a89c87e00073444492&content_type=0&format=json&geo_context=2&lat=39.7392&lon=-104.9903&method=flickr.photos.search&nojsoncallback=true&privacy_filter=1&safe_search=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - max-age=2592000; pin-sha256="2fRAUXyxl4A1/XHrKNBmc8bTkzA7y4FB/GLJuNAzCqY=";
        pin-sha256="I/Lt/z7ekCWanjD0Cvj5EqXls2lOaThEA0H2Bg4BT/o="; pin-sha256="Wd8xe/qfTwq3ylFNd3IpaqLHZbh2ZNCLluVzmeNkcpw=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="i7WTqTvh0OioIruIfFR4kMPnBqrS2rdiVPl/s2uC/CY=";
        pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E="; pin-sha256="uUwZgwDOxcBXrQcntwu+kYFpkiVkOaezL0WYEZ3anJc=";
        pin-sha256="dolnbtzEBnELx/9lOEQ22e6OZO/QNb6VSSX2XHA3E7A="; includeSubdomains;
        report-uri="http://csp.yahoo.com/beacon/csp?src=yahoocom-hpkp-report-only"
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":1,"perpage":250,"total":"3","photo":[{"id":"6136002199","owner":"35034348999@N01","secret":"114d0fe585","server":"6166","farm":7,"title":"","ispublic":1,"isfriend":0,"isfamily":0},{"id":"6132853517","owner":"35034348999@N01","secret":"a3f722ab15","server":"6062","farm":7,"title":"P","ispublic":1,"isfriend":0,"isfamily":0},{"id":"6130423078","owner":"35034348999@N01","secret":"9fe644ba37","server":"6187","farm":7,"title":"","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Wed, 27 Feb 2019 06:43:13 GMT
[...]
