---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=686b75dd30eb67a89c87e00073444492&content_type=1&format=json&location=denver,co&method=flickr.photos.getrecent&nojsoncallback=true&safe_search=1&sort=relevance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - max-age=2592000; pin-sha256="2fRAUXyxl4A1/XHrKNBmc8bTkzA7y4FB/GLJuNAzCqY=";
        pin-sha256="I/Lt/z7ekCWanjD0Cvj5EqXls2lOaThEA0H2Bg4BT/o="; pin-sha256="Wd8xe/qfTwq3ylFNd3IpaqLHZbh2ZNCLluVzmeNkcpw=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="i7WTqTvh0OioIruIfFR4kMPnBqrS2rdiVPl/s2uC/CY=";
        pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E="; pin-sha256="uUwZgwDOxcBXrQcntwu+kYFpkiVkOaezL0WYEZ3anJc=";
        pin-sha256="dolnbtzEBnELx/9lOEQ22e6OZO/QNb6VSSX2XHA3E7A="; includeSubdomains;
        report-uri="http://csp.yahoo.com/beacon/csp?src=yahoocom-hpkp-report-only"
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":10,"perpage":100,"total":1000,"photo":[{"id":"32289924517","owner":"81955378@N05","secret":"3805c5eb08","server":"7816","farm":8,"title":"Serie
        BKT, Spezia-Livorno 3-0","ispublic":1,"isfriend":0,"isfamily":0},{"id":"32289933957","owner":"21655186@N05","secret":"4dbc5bb716","server":"7888","farm":8,"title":"DSCN8764","ispublic":1,"isfriend":0,"isfamily":0},{"id":"32289934567","owner":"156182666@N08","secret":"c6f429e163","server":"7885","farm":8,"title":"Butter
        plate","ispublic":1,"isfriend":0,"isfamily":0},{"id":"32289935287","owner":"143829244@N02","secret":"b8775735a8","server":"7902","farm":8,"title":"","ispublic":1,"isfriend":0,"isfamily":0},{"id":"32289937777","owner":"158330564@N06",[...]
[...]
